<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com"></script>
	<script src="https://unpkg.com/htmx.org@1.9.2"></script>
	<title>Apex Store | {% block page_title %}{% endblock page_title %}</title>
</head>

<body>
	<nav class="border-b border-gray-300">
		<div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 flex items-center justify-between">
			<div class="menu-left flex items-center space-x-6">
				<a href="{% url 'ecommerce:indexـpage' %}" class="py-4 text-lg text-purple-500 font-semibold">Apex Store</a>
				<ul class="flex items-center space-x-4">
					<li><a href="{% url 'ecommerce:shop' %}">Shop</a></li>
					<li><a href="#">About</a></li>
					
				</ul>
			</div>
			<div class="menu-right flex items-center space-x-4">
				<a href="{% url 'accounts:my_account' %}">
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
						stroke="currentColor" class="w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round"
							d="M17.982 18.725A7.488 7.488 0 0012 15.75a7.488 7.488 0 00-5.982 2.975m11.963 0a9 9 0 10-11.963 0m11.963 0A8.966 8.966 0 0112 21a8.966 8.966 0 01-5.982-2.275M15 9.75a3 3 0 11-6 0 3 3 0 016 0z" />
					</svg>
				</a>
				{% include 'ecommerce/partials/menu_cart.html' %}
				
				{% if request.user.is_authenticated %}
					<a href="{% url 'accounts:logout' %}">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15m3 0l3-3m0 0l-3-3m3 3H9" />
						</svg> 
					</a>
				{% else %}
					<a href="{% url 'accounts:login' %}?next={{ request.path }}">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M15.75 9V5.25A2.25 2.25 0 0013.5 3h-6a2.25 2.25 0 00-2.25 2.25v13.5A2.25 2.25 0 007.5 21h6a2.25 2.25 0 002.25-2.25V15M12 9l-3 3m0 0l3 3m-3-3h12.75" />
						</svg>
					</a>
				{% endif %}
					
			</div>
		</div>
	</nav>

	<main>
		{% block main_content %}

		{% endblock main_content %}
	</main>

	<footer class="bg-gray-100">
		<div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
			<div class="footer-left mb-12 md:mb-0">
				<h2 class="mb-5 uppercase text-lg">About us</h2>
				<p class="text-gray-700">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aperiam debitis earum
					vel ad, consequuntur recusandae reprehenderit rem sequi doloremque autem dolor tenetur ipsam
					laboriosam necessitatibus facilis a nemo exercitationem laborum.</p>
			</div>
			<div class="footer-right">
				<h2 class="mb-5 uppercase text-lg">Socials</h2>
				<ul class="space-y-2">
					<li><a class="text-purple-500 hover:text-purple-800" href="#">Facebook</a></li>
					<li><a class="text-purple-500 hover:text-purple-800" href="#">Instagram</a></li>
					<li><a class="text-purple-500 hover:text-purple-800" href="#">Telegram</a></li>
				</ul>
			</div>
		</div>
	</footer>
</body>

</html>