{% extends 'ecommerce/base.html' %}

{% block page_title %}Sign Up{% endblock page_title %}

{% block main_content %}
<div class="max-w-lg mx-auto flex flex-wrap p-6">
	<div class="w-full bg-gray-100 p-6 rounded-xl">
		<h1 class="mb-6 text-2xl">Sign Up</h1>
		<form action="." method="post" class="space-y-3">
			{% csrf_token %}
			<div>
				<label>First Name</label>
				<input type="text" name="first_name" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
			</div>
			<div>
				<label>Last Name</label>
				<input type="text" name="last_name" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
			</div>
			<div>
				<label>Username</label>
				<input type="text" name="username" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
			</div>
			<div>
				<label>Email</label>
				<input type="email" name="email" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
			</div>
			<div>
				<label>Password</label>
				<input type="password" name="password1" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
			</div>
			<div>
				<label>Confirm Password</label>
				<input type="password" name="password2" class="w-full mt-2 py-4 px-6 bg-white rounded-xl">
			</div>
			
			{% if form.errors %}

				{% for field in form %}
				
					{% for error in field.errors %}
						<div class="p-6 bg-red-200 text-red-800 rounded-xl">
							<p>{{ error | escape }}</p>
						</div>
					{% endfor %}
					
				{% endfor %}
				
				{% for error in form.non_field_errors %}
					<div class="p-6 bg-red-200 text-red-800 rounded-xl">
						<p>{{ error | escape }}</p>
					</div>
				{% endfor %}
					
			{% endif %}
				
			<div>
				<button class="py-4 block w-full px-6 text-white rounded-xl bg-purple-500 hover:bg-purple-700">Sign Up</button>
			</div>
		</form>
	</div>
</div>
{% endblock main_content %}